body {
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-size: medium;
}

strong {
    font-family: "Segoe UI Semibold", Helvetica, sans-serif;
    font-weight: bold;
  }

div.body h1 {
    font-family: Segoe UI;
    font-weight: normal;
    margin: 30px 0px 10px 0px;
    padding: 0;
    font-size: 200%;
}

div.body h2 {
    font-family: Segoe UI;
    font-weight: lighter;
    margin: 20px 0px 10px 0px;
    padding: 0;
    font-size: 180%;
}

div.body h3 {
    font-family: Segoe UI;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    padding: 0;
    font-size: 110%;
}

div.body h4,
div.body h5,
div.body h6 {
    font-family: Segoe UI;
    font-weight: bold;
    margin: 10px 0px 10px 0px;
    padding: 0;
    font-size: 100%; 
}

div.body {
    font-size: 12;
}

code {
    background-color: #eeeeee;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.9em;
}

